@{ Layout = null; }

<link href="~/css/error.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/layui/css/layui.css" media="all">
<div class="content">
    <img src="~/images/404.svg" alt="">
    <div class="content-r">
        <h1>408</h1>
        <p>无权限或超时</p>
        <a href="@Url.Content("/Login")" class=" layui-btn layui-btn-lg">重新登录</a>
    </div>
</div>