@*Think9企业级开发工具 http://yourslc.top Create:admin 2024-09-24 13:35:17 此文件放置于Views/CreateBasedOnViews /中*@

@using Think9.Models;
@{ ViewBag.Title = "Index";
    Layout = "~/Areas/Shared/_LayuiList.cshtml"; }

@*统计表(基于录入表(视图)创建) - 基于视图创建*@
<input style="display:none" id="_rpId" value="rp_CreateBasedOnViews">
<fieldset class="table-fieldset" id="searchfield" style="display: none">
     <legend style="color:darkgrey"><i class="fa fa-close" style="color: #FFAB00;font-size: 18px;" id="close_searchfield"></i>&nbsp;快速查询 <span id="_anchor" lay-tips='锚定|隐藏'><i class='fa fa-anchor'></i></span></legend>
    <div style="margin: 5px 5px 5px 5px">
        <form class="layui-form layui-form-pane" action="" id="_formid"  lay-filter="formUser">
			<div class="layui-form layui-row layui-col-space10">
				<div class="layui-col-xs12 layui-col-sm3 layui-col-md3">
					<button type='button' class='layui-btn layui-btn-primary' id='exportData' lay-submit lay-filter='exportData' lay-tips='查询并导出Excel'><i class='fa fa-file-excel-o'></i></button>
				</div>
			 </div>
        </form>
    </div>
</fieldset>
<table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
<script>
    layui.use(["table", "form", "exLayer", "layer", "exUtils"], function () {
        let table = layui.table;
        let form = layui.form;
        let exLayer = layui.exLayer;
        let exUtils = layui.exUtils;
        let layer = layui.layer;
        let $ = layui.$;

        form.render();

        let ThisTable = table.render({
            elem: "#tableId",
            url: "/_RP/GetPageList?rpid=" + $("#_rpId").val(),
            limits: [10, 50, 100, 200],
            limit: 10,
            method:"POST",
            page: true,
            defaultToolbar: [{ title: '搜索', layEvent: 'searchShow', icon: 'layui-bg-blue layui-icon-search' }, { title: '导出', layEvent: 'exportData', icon: 'layui-icon-export' }],
            toolbar: "#toolbarTpl",
            cols: [[
                 { type: "numbers", title: "NO.", fixed: 'left' }
				,{ field: "IndexId", title: "编码", width: 168 }
				,{ field: "IndexName", title: "名称", width: 168 }
				,{ field: "UpdateTime", title: "最后修改", width: 168 }
				,{ field: "IndexDataType", title: "类型", width: 168 }
            ]],
            done: function (res, curr, count) {
                if (count == -1) {
                    //layer.msg(res.msg, { icon: 5, time: 20000, btn: ['关闭'] });//显示错误
                }
            }
        });

        //查询
		form.on("submit(search)", function (data) {
			var _list = getControlValueList();
            ThisTable.reload({
                where: { rpid: $("#_rpId").val(), 'controlList': _list },
                url: "/_RP/GetPageList",
                page: { curr: 1 }
            });
            if ($("#_anchor").html().indexOf('fa fa-anchor') == -1) {
                $("#searchfield").hide();
            }
            return false;
        });

        //导出数据
        form.on("submit(exportData)", function (data) {
            exportData();
        });

        table.on("toolbar(tableFilter)", function (obj) {
            switch (obj.event) {
                case "searchShow":
                     var display = $('#searchfield').css('display');
                     if (display == 'none') {
                        $("#searchfield").show();
                        document.body.scrollTop = document.documentElement.scrollTop = 0;
                     }
                     else {
                        $("#searchfield").hide();
                     }
                 break;
                case "exportData":
                    exportData();
                    break;
            }
        });

        //将查询条件存储在list中
        function getControlValueList() {
            var _list = [];

            return _list;
        }

        //锚定|隐藏
        $("#_anchor").click(function () {
            if ($("#_anchor").html().indexOf('fa-angle-double-up') == -1) {
                $("#_anchor").html("<i class='fa fa-angle-double-up' style='font-size: 18px;'></i>");
            }
            else {
                $("#_anchor").html("<i class='fa fa-anchor'></i>");
            }
        });
        //关闭搜索
        $("#close_searchfield").click(function () {
            $("#searchfield").attr("style", "display:none");
        });

        //导出excel
        function exportData() {
            var _list = getControlValueList();
            exUtils.ajax("/_RP/ExportData", "post", { rpid: $("#_rpId").val(), "controlList": _list }, true).done(function (response) {
                layer.open({
                    title: response.message
                    , type: 1
                    , area: ['250', '100px']
                    , content: response.extra
                });
            }).fail(function (error) {
                console.log(error);
            });
        }
    });
</script>