@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RDLC导出</h1>
    <div>
        <a href="/Com/RDLCReport/exportpdf" target="_blank" class="btn btn-primary">导出PDF</a>
        <a href="/Com/RDLCReport/exportxlsx" target="_blank" class="btn btn-secondary">导出 Excel</a>
        <a href="/Com/RDLCReport/exportdocx" target="_blank" class="btn btn-secondary">导出 Doc</a>
        <a href="/Com/RDLCReport/exporthtml" target="_blank" class="btn btn-secondary">导出html</a>
    </div>
</div>