@{
    ViewBag.Title = "@ViewBag.tbid" + "CodeList";
    Layout = "~/Areas/Shared/_LayuiList.cshtml";
}

<input style="display: none" name="tbid" id="tbid" value="@ViewBag.tbid">
<!--数据表格-->
<table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
<script src="~/lib/layui/layui.js" charset="utf-8"></script>

<script>
    layui.use(["table", "form", "exLayer", "exUtils"], function () {
        let table = layui.table;
        let form = layui.form;
        let exLayer = layui.exLayer;
        let exUtils = layui.exUtils;

        let $ = layui.$;

        form.render(); //

        let ThisTable = table.render({
            elem: "#tableId",
            url: "/SysBasic/TempletCode/GetCodeList?tbid=" + $("#tbid").val(),
            page: false,
            defaultToolbar: [{ title: '显示所有数据', layEvent: 'refresh', icon: 'layui-icon-refresh' }, 'exports', 'filter'],
            toolbar: "#toolbarTpl",
            cols: [[
                { type: "numbers", title: "NO.", fixed: 'left' },
                { field: "Type", title: "类别", width: 60 },
                { field: "FilePath", title: "路径", sort: true },
                { field: "CreationTime", title: "创建时间", sort: true, width: 160 },
                { field: "LastWriteTime", title: "最后修改", sort: true, width: 160, templet: "#T_LastWriteTime" },
                { field: "Description", title: "备注", sort: true },
                { title: "记录", width: 60, align: "center", fixed: layui.device().mobile ? null : 'right', templet: "#operation_Tp9" },
                { title: "操作", width: 80, align: "center", fixed: layui.device().mobile ? null : 'right', templet: "#operationTpl" }
            ]],
            done: function (res, curr, count) {
            }
        });

        table.on("toolbar(tableFilter)", function (obj) {
            switch (obj.event) {
                case "refresh":
                    refresh();
                    break;
            }
        });

        function refresh() {
            ThisTable.reload({
                url: "/SysBasic/TempletCode/GetCodeList?tbid=" + $("#tbid").val()
            });
        }

        $("#close").click(function () {
            layer.close(parent.layer.getFrameIndex(window.name));
        });
    });
</script>
<script type="text/html" id="toolbarTpl">
    <button type='button' class='layui-btn layui-btn-primary layui-btn-sm' id='close'>关 闭</button>
</script>
<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl">
    <a class="layui-btn layui-btn-normal layui-btn-xs" href="/SysBasic/TempletCode/CodeDetail?path={{d.FilePath}}&type={{d.Type}}&but=edit|copy|template&tbid={{d.TbId}}"    target="_blank" id="detail">管理</a>
</script>
<!-- 行工具栏模板-->
<script type='text/html' id='T_LastWriteTime'>
    {{#  if(d.CreationTime == d.LastWriteTime){ }}
    {{d.LastWriteTime}}
    {{#  }else{ }}
    <span  style='color: blue;'>{{d.LastWriteTime}}</span>
    {{#  } }}
</script>
<!-- 行工具栏模板 -->
<script type="text/html" id="operation_Tp9">
    <a class="layui-btn layui-btn-primary layui-btn-xs" href="/SysBasic/TempletCode/CodeRecord?filePath={{d.FilePath}}" target="_blank" id="detail"><i class="fa fa-ellipsis-h"></i></a>
</script>