@using Think9.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Shared/_LayuiList.cshtml";
}

<blockquote class="layui-elem-quote layui-text">
    『录入指标』即录入表的录入项，对应数据表的字段及实体类属性。定义录入表（主表）需首先定义录入指标，如定义学生基础信息表，需首先定义姓名、性别等录入指标<br>
    『使用步骤』1.新建『录入指标』； 2.为『录入表』添加已定义的『录入指标』； 3.设置录入表指标属性及数据规范
</blockquote>
<span style="position: absolute;top: 20px; right: 20px;" id="blockquote_close">
    <i class="fa fa-close" style="color: #FFAB00;"></i>
</span>
<fieldset class="table-fieldset" id="searchfield" style="display:none">
    <legend style="color:darkgrey"><i class="fa fa-close" style="color: #FFAB00;font-size: 18px;" id="close_searchfield"></i>&nbsp;快速查询&nbsp;<span id="_anchor" lay-tips='锚定|隐藏'><i class='fa fa-anchor'></i></span></legend>
    <div style="margin: 5px 5px 5px 5px">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    @Html.DropDownList("IndexSortID", (IEnumerable<SelectListItem>)ViewBag.IndexSortList, "==所有分类==", new Dictionary<string, object> { })
                </div>
                <div class="layui-inline">
                    <select id="IndexDataType" name="IndexDataType" lay-filter="IndexDataType">
                        @foreach (IndexDtaeTypeEntity item in ((List
                        <IndexDtaeTypeEntity>)ViewBag.DtaeTypeList))
                        {
                            <option value="@item.TypeId">@item.TypeName</option>
                        }
                    </select>
                </div>
                <div class="layui-inline">
                    <input type="text" name="key" id="key" placeholder="关键词搜索" class="layui-input">
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-primary" id="search"><i class="layui-icon layui-icon-search"></i></button>
                    <button type='reset' class='layui-btn layui-btn-primary'><i class='layui-icon layui-icon-refresh'></i></button>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
<script>
    layui.use(["table", "form", "exLayer", "exUtils", "miniPage"], function () {
        let table = layui.table;
        let form = layui.form;
        let exLayer = layui.exLayer;
        let exUtils = layui.exUtils;
        let miniPage = layui.miniPage;

        var openWH = miniPage.getOpenWidthHeight();
        let $ = layui.$;

        form.render(); //

        $("#blockquote_close").click(function () {
            $(".layui-elem-quote").attr("style", "display:none");
            $("#blockquote_close").attr("style", "display:none");
        });

        let ThisTable = table.render({
            elem: "#tableId",
            url: "/SysTable/IndexBasic/GetIndexList?key=" + $("#key").val() + "&sort=" + $("#IndexSortID").val() + "&type=" + $("#IndexDataType").val(),
            limits: [10, 50, 100, 200, 500],
            limit: 10,
            method: "post",
            page: true,
            defaultToolbar: layui.device().mobile ? [{ title: '搜索', layEvent: 'searchShow', icon: 'layui-bg-blue layui-icon-search' }, { title: '显示所有数据', layEvent: 'refresh', icon: 'layui-bg-gray layui-icon-refresh' }] : [{ title: '搜索', layEvent: 'searchShow', icon: 'layui-bg-blue layui-icon-search' }, { title: '显示所有数据', layEvent: 'refresh', icon: 'layui-bg-gray layui-icon-refresh' }, 'exports', 'filter'],
            toolbar: "#toolbarTpl",
            cols: [[
                { type: "checkbox", fixed: 'left' },
                { type: "numbers", title: "NO.", fixed: 'left' },
                { field: "IndexSort", title: "分类", width: 100, sort: true, hide: layui.device().mobile ? true : false },
                { field: "IndexId", title: "编码", width: 150, sort: true },
                { field: "IndexName", title: "名称", width: 200, sort: true },
                { field: "DataTypeName", title: "类型", width: 150, sort: true },
                { field: "TableName", title: "已关联", sort: true, hide: layui.device().mobile ? true : false },
                { title: "操作", width: 120, align: "center", fixed: layui.device().mobile ? null : 'right', templet: "#operationTpl" }
            ]],
            done: function (res, curr, count) {
                if (layui.device().mobile) {
                    $("#batchDel").html('<i class="fa fa-trash-o"></i>删除');
                    $("#sort").html('<i class="fa fa-paste"></i>分类');
                    $("#add").html('<i class="fa fa-plus"></i>新建');
                }
            },
            text: {
                none: '无数据'
            }
        });

        //查询
        $("#search").click(function () {
            search();
        });

        table.on("toolbar(tableFilter)", function (obj) {
            switch (obj.event) {
                case "add":
                    add();
                    break;//
                case "batchAdd":
                    batchAdd();
                    break;//
                case "batchAdd2":
                    batchAdd2();
                    break;//
                case "sort":
                    sort();
                    break;
                case "searchShow":
                    searchShow();
                    break;
                case "batchDel":
                    batchDel();
                    break;
                case "refresh":
                    refresh();
                    break;
            }
        });

        table.on("tool(tableFilter)", function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case "edit":
                    edit(data.IndexId);
                    break;
                case "del":
                    del(data.IndexId);
                    break;
            }
        });

        function add() {
            exLayer.openMiddle("新建录入指标", "/SysTable/IndexBasic/Add?frm=list", '500px', '500px', layui.device().mobile);
        }

        function batchAdd() {
            exLayer.openMiddle("批量新建", "/SysTable/IndexBasic/BatchAdd?frm=list", '500px', '500px', layui.device().mobile);
        }

        function batchAdd2() {
            exLayer.openMiddle("新建测试指标", "/SysTable/IndexBasic/BatchAdd2?frm=list", '500px', '500px', layui.device().mobile);
        }

        function sort() {
            exLayer.openMiddle("录入指标分类", "/SysBasic/Sort/List?classid=CAT_index", '500px', '380px', layui.device().mobile);
        }

        function searchShow() {
            var display = $('#searchfield').css('display');
            if (display == 'none') {
                $("#searchfield").show();
                document.body.scrollTop = document.documentElement.scrollTop = 0;
            }
            else {
                $("#searchfield").hide();
            }
        }

        function search() {
            ThisTable.reload({
                where: { key: $("#key").val(), sort: $("#IndexSortID").val(), type: $("#IndexDataType").val() },
                page: { curr: 1 }
            });
            if ($("#_anchor").html().indexOf('fa fa-anchor') == -1) {
                $("#searchfield").hide();
            }
            return false;
        }

        function refresh() {
            ThisTable.reload({
                where: { key: '', sort: '', type: '' }
            });
        }

        function edit(IndexId) {
            exLayer.openMiddle("编辑指标", "/SysTable/IndexBasic/Edit/" + IndexId, '500px', '500px', layui.device().mobile);
        }

        function del(id) {
            exLayer.confirm("确定要删除吗？", function () {
                exUtils.ajax("/SysTable/IndexBasic/Delete", "get", { id: id }, true).done(function (response) {
                    exUtils.tableSuccessMsg(response.message);
                    $(".layui-laypage-btn")[0].click();
                }).fail(function (error) {
                    console.log(error);
                });
            })
        }

        function batchDel() {
            var idsStr = "";
            var checkStatus = table.checkStatus("tableId");
            var rows = checkStatus.data.length;
            if (rows > 0) {
                for (var i = 0; i < checkStatus.data.length; i++) {
                    idsStr += checkStatus.data[i].IndexId + ",";
                }
                exLayer.confirm("确定要删除吗？", function (index) {
                    layer.close(index);

                    if (idsStr) {
                        exUtils.ajax("/SysTable/IndexBasic/BatchDel", "get", { idsStr: idsStr }, true).done(function (response) {
                            exUtils.tableSuccessMsg(response.message);
                            $(".layui-laypage-btn")[0].click();
                        }).fail(function (error) {
                            console.log(error);
                        });
                    }
                });
            }
            else {
                layer.msg("未选择有效数据");
            }
        }

        //锚定|隐藏
        $("#_anchor").click(function () {
            if ($("#_anchor").html().indexOf('fa-angle-double-up') == -1) {
                $("#_anchor").html("<i class='fa fa-angle-double-up' style='font-size: 18px;'></i>");
            }
            else {
                $("#_anchor").html("<i class='fa fa-anchor'></i>");
            }
        });
        //关闭搜索
        $("#close_searchfield").click(function () {
            $("#searchfield").attr("style", "display:none");
        });

        $('#key').keydown(function (event) {
            if (event.keyCode === 13) {
                search();
            }
        });
    });
</script>
<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="batchDel" id="batchDel"><i class="fa fa-trash-o"></i>批量删除</button>
        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="sort" id="sort"><i class="fa fa-paste"></i>分类管理</button>
        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add" id="add"><i class="fa fa-plus"></i>新建录入指标</button>
        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="batchAdd" id="batchAdd"><i class="fa fa-plus"></i>批量新建</button>
        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="batchAdd2" id="batchAdd2"><i class="fa fa-plus"></i>新建测试指标</button>
    </div>
</script>
<!-- 行工具栏模板  -->
<script type="text/html" id="operationTpl">
    <a href="javascript:;" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit" id="edit">编辑</a>
    <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del" id="del">删除</a>
</script>
<!-- 行工具栏模板 列6 -->
<script type="text/html" id="tb_Testv6">
    {{d.temp}}
</script>