@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="~/css/layuimini.css?v=2.0.1" media="all">
    <link rel="stylesheet" href="~/css/themes/default.css" media="all">
    <link rel="stylesheet" href="~/css/public.css" media="all">
</head>
<body>
    <style>
        .welcome .layui-card {
            border: 1px solid #f2f2f2;
            border-radius: 5px;
        }

        .welcome .icon {
            margin-right: 10px;
            color: #1aa094;
        }

        .welcome .icon-cray {
            color: #ffb800 !important;
        }

        .welcome .icon-blue {
            color: #1e9fff !important;
        }

        .welcome .icon-tip {
            color: #ff5722 !important;
        }

        .welcome .layuimini-qiuck-module {
            text-align: center;
            margin-top: 10px
        }

            .welcome .layuimini-qiuck-module a i {
                display: inline-block;
                width: 100%;
                height: 60px;
                line-height: 60px;
                text-align: center;
                border-radius: 2px;
                font-size: 30px;
                background-color: #F8F8F8;
                color: #333;
                transition: all .3s;
                -webkit-transition: all .3s;
            }

            .welcome .layuimini-qiuck-module a cite {
                position: relative;
                top: 2px;
                display: block;
                color: #666;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 14px;
            }

        .welcome .welcome-module {
            width: 100%;
            height: 210px;
        }

        .welcome .panel {
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 3px;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05)
        }

        .welcome .panel-body {
            padding: 10px
        }

        .welcome .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 12px;
            color: inherit
        }

        .welcome .label {
            display: inline;
            padding: .2em .6em .3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
            margin-top: .3em;
        }

        .welcome .layui-red {
            color: red
        }

        .welcome .main_btn > p {
            height: 40px;
        }

        .welcome .layui-bg-number {
            background-color: #F8F8F8;
        }

        .welcome .layuimini-notice:hover {
            background: #f6f6f6;
        }

        .welcome .layuimini-notice {
            padding: 7px 16px;
            clear: both;
            font-size: 12px !important;
            cursor: pointer;
            position: relative;
            transition: background 0.2s ease-in-out;
        }

        .welcome .layuimini-att {
            padding: 7px 16px;
            clear: both;
            font-size: 12px !important;
            cursor: pointer;
            position: relative;
            transition: background 0.2s ease-in-out;
        }

        .welcome .layuimini-notice-title, .layuimini-notice-label {
            padding-right: 70px !important;
            text-overflow: ellipsis !important;
            overflow: hidden !important;
            white-space: nowrap !important;
        }

        .welcome .layuimini-notice-title {
            line-height: 28px;
            font-size: 14px;
        }

        .welcome .layuimini-notice-extra {
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: 16px;
            display: inline-block;
            height: 16px;
            color: #999;
        }
    </style>
    <div class="layuimini-container layuimini-page-anim">
        <div class="layuimini-main welcome">

            <div class="layui-row layui-col-space10">
                <div class="layui-col-md8">
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header"><i class="fa fa-credit-card icon icon-blue"></i>快捷入口</div>
                                <div class="layui-card-body">
                                    <div class="welcome-module">
                                        <div class="layui-row layui-col-space10 layuimini-qiuck">
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" layuimini-content-href="SysFlow/FlowRunManage" data-title="数据管理" data-icon="fa fa-reorder">
                                                    <i class="fa fa-reorder"></i>
                                                    <cite>数据管理</cite>
                                                </a>
                                            </div>
                                            <div class="layui-col-xs3 layuimini-qiuck-module">
                                                <a href="javascript:;" layuimini-content-href="SysFlow/FlowRunList" data-title="待办工作" data-icon="fa fa-hourglass-end">
                                                    <i class="fa fa-hourglass-end"></i>
                                                    <cite>待办工作</cite>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-bullhorn icon icon-tip"></i>通知公告</div>
                        <div class="layui-card-body layui-text layui-yourslc-notice">
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-row layui-col-space10">
                <div class="layui-col-md8">
                    <div class="layui-card">
                        <div class="layui-card-header">简介</div>
                        <div class="layui-card-body layui-text layadmin-text">
                            <p> YoursLC-yours你们的、LC是低代码low-code的缩写，中文名称：有源低代码， 是一套双输出的低代码产品：既能完整输出功能又能100%输出源码。</p>
                            <p>满足用户高效率、低成本和个性化的需求。几十倍的提高开发效率，而且用户完全可控，易修改易扩展。</p>
                        </div>
                        <div class="layui-card-body layui-text layadmin-text">
                            <p>你可以通过 <a href="https://gitee.com/think9/your-lc-active-low-code.git" target="_blank" rel="nofollow">Gitee</a> 得到 YoursLC 的完整开发包  喜欢此产品的可以给我的GitHub和Gitee加个Star支持一下</p>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-fire icon"></i>版本信息</div>
                        <div class="layui-card-body layui-text">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <td>产品名称</td>
                                        <td>
                                            YoursLc有源低代码 http://yourslc.top
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>下载地址</td>
                                        <td>
                                            <a href="https://gitee.com/think9/your-lc-active-low-code.git" target="_blank">gitee</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>在线文档</td>
                                        <td>
                                            <a href="https://gitee.com/think9/your-lc-active-low-code/wikis/YoursLC简介" target="_blank">点击查看</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>交流QQ群</td>
                                        <td>
                                            <a target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=gTnI_cL_1H7wczuvOinwUNrJyAlz8ybl&jump_from=webapi"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="YoursLc有源低代码 http://yourslc.top" title="YoursLc有源低代码 http://yourslc.top"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/global.js" charset="utf-8"></script>
    <script>
        layui.use(['layer', 'echarts'], function () {
            var $ = layui.jquery,
                layer = layui.layer,
                echarts = layui.echarts;

            // 公告赋值
            $(function () {
                noticeInfo();
            });

            /**
             * 查看公告信息
             **/
            $('body').on('click', '.layuimini-notice', function () {

                var title = $(this).children('.layuimini-notice-title').text(),
                    noticeTime = $(this).children('.layuimini-notice-extra').text(),
                    content = $(this).children('.layuimini-notice-content').html();
                att = $(this).children('.layuimini-notice-att').html();
                var html = '<div style="padding:15px 20px; text-align:justify; line-height: 22px;border-bottom:1px solid #e2e2e2;background-color: #2f4056;color: #ffffff">\n' +
                    '<div style="text-align: center;margin-bottom: 20px;font-weight: bold;border-bottom:1px solid #718fb5;padding-bottom: 5px"><h4 class="text-danger">' + title + '</h4></div>\n' +
                    '<div style="font-size: 12px">' + content + '</div>\n' +
                    '</div>\n';
                parent.layer.open({
                    type: 1,
                    title: '公告' + '<span style="float: right;right: 1px;font-size: 12px;color: #b1b3b9;margin-top: 1px">' + noticeTime + '</span>',
                    area: '300px;',
                    shade: 0.8,
                    id: 'layuimini-notice',
                    btn: ['确定'],
                    btnAlign: 'c',
                    moveType: 1,
                    content: html,
                    success: function (layero) {
                    }
                });
            });

            function noticeInfo() {
                $.ajax({
                    url: "/Home/GetNoticeList",
                    dataType: "json",
                    success: function (data) {
                        var noticeHtml = '';
                        for (var i = 0; i < data.length; i++) {
                            noticeHtml += '<div class="layuimini-notice">';
                            noticeHtml += '<div class="layuimini-notice-title">' + data[i].Subject + '</div>';
                            noticeHtml += '<div class="layuimini-notice-extra">' + new Date(data[i].createTime).Format("yyyy-MM-dd hh:mm") + '</div>';
                            noticeHtml += '<div class="layuimini-notice-content layui-hide">';
                            noticeHtml += '<pre>';
                            var content = data[i].Content;
                            noticeHtml += content;
                            var att = data[i].Attachment;
                            if (att != null && att != undefined && att != '') {
                                noticeHtml += '<div>' + att + "</div>";
                            }
                            noticeHtml += '</pre></div></div >';
                        }
                        $('.layui-yourslc-notice').empty();
                        $('.layui-yourslc-notice').html(noticeHtml);
                    }
                });
            }
        });
    </script>
</body>
</html>