@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/images/favicon.ico">
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="~/css/layuimini.css?v=2.0.1" media="all">
    <link rel="stylesheet" href="~/css/themes/default.css" media="all">
    <link rel="stylesheet" href="~/css/public.css" media="all">
    <script src="~/lib/layui/layui.js" charset="utf-8"></script>

    @RenderSection("Styles", false)
</head>
<body>

    @RenderBody()

    @RenderSection("Scripts", false)
</body>
</html>