<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="~/css/layuimini.css?v=2.0.1" media="all">
    <link rel="stylesheet" href="~/css/themes/default.css" media="all">
    <link rel="stylesheet" href="~/css/public.css" media="all">
    <link rel="stylesheet" href="~/js/lay-module/step-lay/step.css" media="all">
</head>
<body class="layui-layout-body">
    @RenderBody()
</body>
</html>