<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<!--服务器端口号-->
	<add key="port" value="7001" />

	<!--数据库类别 mysql或sqlserver 一定要检查!!!-->
	<add key="DBProvider" value="sqlserver" />

	<!--！！！有两种方式连接sqlserver数据库，默认采用第一种方式，可先直接运行，连接不上再安装SqlLocalD，下载文件中有安装文件（以sqllocaldb连接方式连接sqlserver需要安装SqlLocalD_2014文件夹中）-->
	<!--1:以sqllocaldb连接方式连接sqlserver数据库，可能需要安装SqlLocalD-->
	<!---->
	<add key="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB; Initial Catalog=YoursLC; Integrated Security=True;Connect Timeout=30;  AttachDbFilename=%CONTENTROOTPATH%\\App_Data\\YoursLC_2409.mdf" />

	<!--2:一般连接方式(需安装sqlserver并附加数据库文件)-->
	<!--<add key="ConnectionString" value="Server=YDT;Database=YoursLC_2409;User Id=sa;Password=200; Timeout=30;" />-->
	

	<!--使用mysql数据库时必须与ConnectionString中的database=的数据库名一致，否则判断数据表是否存在及数据表存在的字段时会出错 切记！！！ think9_demo_240824 think9_temp_2408 think9_warehouse_2409-->
	<!---->
	<add key="DBase" value="think9_temp_2408" />

	<!--mysql连接字符-->
	<!--<add key="ConnectionString" value="server=127.0.0.1;port=3306;database=think9_temp_2408;user=root;password=ydt13139876200;" />-->

	<!-- ================== 网站配置 ================== -->
	<!--需要临时拷贝代码字符 格式为 表编码+"|"-->
	<add key="CopyCodeStr" value="" />
	<add key="YoursLCSA" value="" />
	<add key="YoursLCAppId" value="" />
	<add key="YoursLCPassWord" value="" />

	<!--默认的上传文件类型-->
	<add key="UploadFileType" value="xls|xlsx|pdf|doc|docx|txt|ppt|pptx|zip|rar|7z|jpg|png|gif|bmp|jpeg|svg" />
	<!--默认的上传图片类型-->
	<add key="UploadImgType" value="jpg|png|gif|bmp|jpeg|svg" />

	<!--数据删除时不删除图片，添加了录入表编码，删除数据时不删除图片附件-->
	<add key="DelNoImg" value="tb_tbxx1|tb_tbxx2" />
	<!--数据删除时不删除文件，添加了录入表编码，删除数据时不删除文件附件-->
	<add key="DelNoFile" value="tb_tbxx1|tb_tbxx2" />

	<!--演示模式 value="true"为演示模式-->
	<add key="IsDemo" value="" />

	<!--百度翻译-->
	<add key="BaiduTransAppId" value="20191214000366054" />
	<add key="BaiduTransPassWord" value="Ao1STWE9GRkNOlJiuTkN" />

	<!-- ================== 其他 ================== -->
	<!--网站名称-->
	<add key="SiteName" value="YoursLc有源低代码 http://yourslc.top" />
	<!--网站域名-->
	<add key="SiteDomain" value="http://baidu.com" />
	<!--公司名称-->
	<add key="Corporate" value="有限公司" />
	<!--公司地址-->
	<add key="Address" value="公司地址" />
	<!--公司座机-->
	<add key="Tel" value="" />
	<!--联系电话-->
	<add key="Phone" value="" />
	<!--电子邮箱-->
	<add key="Email" value="123456@qq.com" />
	<!--首页标题-->
	<add key="HomeTitle" value="标题" />
	<!--META关键词:多个关键词用英文状态 , 号分割-->
	<add key="MetaKey" value="关键词" />
	<!--META描述-->
	<add key="MetaDescribe" value="描述" />
	<!--网站备案号-->
	<add key="Record" value="网站备案号" />
	<!--版权信息-->
	<add key="CopyRight" value="© 2024 YoursLc有源低代码 http://yourslc.top" />

	<!-- ================== 2：开发系统相关配置 ================== -->
	<!--注册用户默认的角色id-->
	<add key="RegistrationRoleId" value="10" />
	<!--用户是否需要审核？默认需要审核，不为空字符表示无需审核，即用户注册完成后就可以登录使用-->
	<add key="IsExamine" value="1" />
	<!--用户初始化密码-->
	<add key="InitUserPwd" value="123456" />

	<!--上传文件大小-->
	<add key="UploadFileSize" value="2048" />
	<!--登录提供者模式：Session、Cookie-->
	<add key="LoginProvider" value="Session" />
	<!--数据库超时间-->
	<add key="CommandTimeout" value="180" />
	<!-- ================== 3：外部邮件参数 ================== -->
	<!--SMTP服务器-->
	<add key="EmailSmtp" value="123456@qq.com" />
	<!--SSL加密连接-->
	<add key="EmailSSL" value="true" />
	<!--SMTP端口-->
	<add key="EmailPort" value="11" />
	<!--发件人地址-->
	<add key="EmailFrom" value="576463026@qq.com" />
	<!--邮箱账号-->
	<add key="MailUserName" value="576463026@qq.com" />
	<!--邮箱密码-->
	<add key="MailPassword" value="123456" />
	<!--发件人昵称-->
	<add key="MailName" value="YoursLc有源低代码 http://yourslc.top" />
</appSettings>